<?php if ($block->getData('image')) { ?>
    <?php if ($imge = $block->getImage($block->getData('image'))) { ?>

            <?php $uid = uniqid('_'); ?>
        <div class="fsm fsm<?= $uid;?> <?php if($block->getData('onclick')){ echo 'zoom-out'; }?>" data-text-zoom="<?= __("zoom");?>">
            <img id="image<?= $uid;?>" class="description_image fsm <?= $block->getData('class'); ?>  <?php echo $block->getData('image'); ?>"
                 src="<?php echo $imge['url'] ?>" alt="<?= $imge['alt']; ?>"
                 width="<?php echo $imge['width']; ?>"
                 height="<?php echo $imge['height']; ?>"
                 data-fullscreen="<?php echo $imge['fullscreen']['url']?>"
            />
            <h1 class="modal-content"><img id="large-image<?= $uid;?>" class="large-image" src="" alt="<?= $imge['alt']; ?>"></h1>
        </div>

       <?php if($block->getData('onclick')){ ?>

            <script>
                require(['jquery', 'custompopup'], function ($, custompopup) {
                    custompopup('.fsm<?= $uid;?>','#image<?= $uid;?>','#large-image<?= $uid;?>');
                });
            </script>


        <?php } ?>
    <?php }
} ?>
